# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Logs
*.log

# Models and checkpoints
models/*.zip
models/*.pkl

# TensorBoard
tensorboard_logs/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db

# OneDrive temp
~$*
